.footer {
  color: #fff;
  background-color: var(--footer-color);
  padding: 60px 0;
}

.conteiner--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    flex-direction: row;
  }
}

.footer-logo-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.adress-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo.logo--footer {
  color: #fff;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  &__text,
  &__item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
  }
  @media screen and (min-width: 1200px) {
  }
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  color: var(--footer-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--button-color);
  }
}

.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .social__link {
    color: var(--icon-hover-color);
    background-color: var(--footer-invitation-bg);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.invitation .social__link:hover,
.invitation .social__link:focus {
  background-color: var(--button-color);
}
