.footer-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media screen and (min-width: 1200px) {
    width: 570px;
  }
}

.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  &__email {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--icon-hover-color);
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
  }
}

.button--footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  align-items: center;

  .button__icon {
    fill: currentColor;
    margin-left: 10px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}
