.menu {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding: 48px 40px;
}

.menu-conteiner {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  position: absolute;
  top: -38px;
  right: 15px;
}

.menu-close-btn__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover .menu-close-btn__icon {
  fill: var(--button-color);
}

// мобильный экран подсветка выбранной страницы
.link-menu {
  color: var(--button-color);
}

.nav-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}


